.genre-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}

.App-header {
    width: 100%;
    text-align: center;
}

.genre-detail-container h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: transform 0.3s;
}

.album:hover {
    transform: scale(1.05);
}

.album img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.album h3 {
    text-align: center;
    padding: 10px;
   
}

.album p {
    text-align: center;
    padding-bottom: 50px;
  
}

.album .album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #1db954;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #535353;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #1ed760;
}

.pagination span {
    font-size: 1.1rem;
}